In [83]:
a = 10
b = 20
c = a + b
print(c)

30

â­Syllabus:

1. Introduction to python
2. Installation of python
3. Basic concepts variables, datatypes
4. Sequences set, tuples, List
5. Operators in python
6. Mathematical Functions
7. Statements in python
while, for, Break, continue, pass, else
8. Array with types
9. Functions
10. Decorators in python
11. Modules in python
12. Object oriented programming
13. Constructor, Inheritance
14. Interators in python
15. Datetime
16. Inner classes
17. Polymorphism
18. Exception Handling
19. String formating
20. File Handling
21. Database Connectivity

â­Features:

1. Fastes growing language
2. General purpose language

python is programming language.
it also interpreted, object oriented, and heigh level language

it also supports procedure oriented 

JAVA --> 1995
PYTHON --> 1989 (easy language)

âœ¨ Company uses python language
1. Google   2. Dropbox  3. YouTube
4. Yahoo!   5. N.A.S.A.

as support language or main

website like redit is written in python.

â­Inventor of Python:
Guido Van Rossum

â­Versions of Python:
1. python 1.0 - January 1994
2. python 2.0 - October 2000 (still in the market)
3. python 3.0 - December 2008
(latest version does not support previous versions)

â­Installtion of python:
To run python need python intepreter

search python download --> <latest_python_version> e.g. 3.10 
Note: IDE -  Integrated Development Environment (e.g. Pycharm, VS Code, Eclipse etc.)
--> Install python

âœ¨IDE:
Pycharm

- version1 -- Professional

- version2 -- Community (no web development) --> download --> Install (select version and extension)

In [84]:
#IDLE (Basic)
2 + 3

5

In [85]:
9 - 8

1

In [86]:
8 / 4

2.0

In [87]:
8 // 4

2

In [88]:
8 + 9 - 10

7

In [89]:
8 + (2 * 3)

14

In [90]:
#Exponent
2 ** 3

8

In [91]:
#Modules
10 % 3

1

In [92]:
#String
'navin'

'navin'

In [93]:
print('language')

language

In [94]:
print('it's language')

SyntaxError: unterminated string literal (detected at line 1) (393968057.py, line 1)

In [95]:
print("it's "language"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (190394851.py, line 1)

In [96]:
print('it is "language"')

it is "language"

In [97]:
print('navin\'s "laptop"')

navin's "laptop"

In [98]:
10 * 'Shree'

'ShreeShreeShreeShreeShreeShreeShreeShreeShreeShree'

In [99]:
print('c:\docs\navin')

c:\docs
avin

In [100]:
print(r'c:\docs\navin') 
# to print raw string

c:\docs\navin

# Variable - Container to store any value

In [101]:
x = 2
x + 3

5

In [102]:
x = 9
x + 3

12

In [103]:
abc

NameError: name 'abc' is not defined

In [104]:
x + 10

19

In [105]:
_ + 3

22

" _ " is used to access the output of privious operation

In [106]:
name = 'shree'
name

'shree'

In [107]:
name + 'rocks'

'shreerocks'

In [108]:
# 1. to fetch 1 character
name[0]

's'

In [109]:
name[8]

IndexError: string index out of range

In [110]:
name[-1]

'e'

In [111]:
# 2. to fetch two characters
name[0:2]

'sh'

In [112]:
name[1:4]

'hre'

In [113]:
name[1:] #position 1 to end

'hree'

In [114]:
name[:4] #end to opsition 3

'shre'

In [115]:
name[3:10] #remaining all

'ee'

In [116]:
# 3. Change the letters
name = 'shree'
name[0:3] = 'my'

TypeError: 'str' object does not support item assignment

In [117]:
'my' + name[2:]

'myree'

In [118]:
# Calculate length
name = 'Shree'
len(name)

5

ðŸ“Œ List - Mutable (change value)
same as array, group of different items.
Special symbol used for list is '[ ]'

In [119]:
nums = [25, 12, 56, 36, 14]

In [120]:
nums[0]

25

In [121]:
nums[4]

14

In [122]:
nums[2:]

[56, 36, 14]

In [123]:
names = ['a', 'b', 'c']
names

['a', 'b', 'c']

In [124]:
value = [9.5, 'abc', 25]
value

[9.5, 'abc', 25]

In [125]:
#Concatination of data
mil = [nums, names]
mil

[[25, 12, 56, 36, 14], ['a', 'b', 'c']]

In [126]:
#Operations on list
# 1.append
nums.append(45)
nums

[25, 12, 56, 36, 14, 45]

In [127]:
# 2.Insert
nums.insert(2,77)
nums

[25, 12, 77, 56, 36, 14, 45]

In [128]:
# 3.remove
nums.remove(14)
nums

[25, 12, 77, 56, 36, 45]

In [129]:
# 4.pop --> using index value
nums.pop(1)
#nums

12

ðŸ“Œ Without index pop remove the last element
nums.pop()

In [130]:
# 5.delete multiple values
del nums[2:]
nums

[25, 77]

In [133]:
# 6.add multiple values
nums.extend([29,12,14,36])
nums

[25, 77, 29, 12, 14, 36, 29, 12, 14, 36, 29, 12, 14, 36]

In [134]:
#Inbuilt functions
min(nums)

12

In [135]:
max(nums)

77

In [136]:
sum(nums)

375

In [138]:
nums.sort()
nums

[12, 12, 12, 14, 14, 14, 25, 29, 29, 29, 36, 36, 36, 77]